<div class="container mt-3 product-form">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center mb-3">
                <h2><%= title %></h2>
            </div>
            <%= form_with(model: @product) do |f| %>
                <%= render 'shared/error_messages', object: f.object %>
                <%= f.label :name, '商品名', class: 'form-label' %>
                <%= f.text_field :name, class: 'form-control' %>
                <div data-controller="image-preview">
                    <%= f.label :image, '画像', class: 'form-label' %>
                    <%= f.file_field :image, class: 'form-control mb-2', data: { image_preview_target: 'input' } %>
                    <button type="button" data-action="image-preview#clearPreview" class="btn btn-secondary mb-2">画像選択クリア</button>
                    <img data-image-preview-target="preview" src="#" alt="Image preview" class="image-preview-target mb-2">
                    <% if @product.image.attached? && @product.image.content_type.in?(%w(image/png image/jpg image/jpeg)) %>
                        <%= image_tag @product.image.variant(:display), class: "mb-3 form-control", data: { image_preview_target: 'registeredImage' } %>
                    <% end %>
                </div>
                <%= f.label :maker_id, 'メーカー', class:'form-label' %>
                <%= f.select :maker_id, options_for_select(@makers, selected: @product.maker_id), 
                    {}, class: 'form-control' %>
                <%= f.label :product_code, '商品コード', class: 'form-label' %>
                <%= f.text_field :product_code, class: 'form-control' %>
                <%= f.label :jancode, 'JANコード', class: 'form-label' %>
                <%= f.number_field :jancode, class: 'form-control' %>
                <%= f.label :price, '単価', class: 'form-label' %>
                <%= f.number_field :price, class: 'form-control' %>
                <%= f.label :unit, "単位", class:'form-label' %>
                <%= f.select :unit, options_for_select(code_select_options(:unit), selected: @product.unit), 
                    {}, class: 'form-control' %>
                <%= f.label :note, '備考', class: 'form-label' %>
                <%= f.text_area :note, class: 'form-control' %>
                <div class="text-center mb-3">
                    <%= f.submit button, class: "btn btn-primary mt-3 w-10", data: { turbo_confirm: "データを#{button}しますか？" }, style:"width: 150px;" %>
                </div>
            <% end %>
        </div>
    </div>
</div>