<header>
    <div class="container-fluid">
        <div class="row justify-content-between align-items-center">
            <div class="col-4">
                <%= link_to "Stationary Orders", root_path, id: "logo" %>
            </div>
            <div class="col-8 text-end">
                <ul class="nav nav-pills justify-content-end ">
                    <li class="nav-item"><%= link_to "管理者", "#", class:'nav-link active' %></li>
                    <li class="nav-item"><%= link_to "会員", "#", class:'nav-link' %></li>
                    <li class="nav-item"><%= link_to "商品",  "#", class:'nav-link' %></li>
                    <li class="nav-item"><%= link_to "受注一覧",  "#", class:'nav-link' %></li>
                    <% if user_signed_in? %>
                        <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class:'nav-link' %></li>
                    <% elsif customer_signed_in? %>
                        <li class="nav-item"><%= link_to "ログアウト", destroy_customer_session_path, data: { turbo_method: :delete }, class:'nav-link' %></li>
                    <% else %>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</header>